<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Lobby_CSS_Tester</title>
    <link href="../../Source/Lobby.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <div class="divBackGround">
        <div class="divTabList">
            <div class="divTab">Lobby</div>
            <div class="divTab">divTab 1</div>
            <div class="divTab">divTab 2</div>
            <div class="divTab">divTab 3</div>
        </div>
        <div class="divPlayerInfo">Player Information
            <div class="divPhoto">
                <img src="../../Images/DefaultPlayerPhoto.png" alt="" />
            </div>
            <div class="divPlayerName">Nuno Sousa</div>
            <div class="divPlayerOptions">OPTIONS
                <input type="button" value="Button1" />
                <input type="button" value="Button2" />
                <input type="button" value="Button3" />
                <input type="button" value="Button4" />
            </div>
			<div class="divPlayerFriendsList">FRIENDS LIST
				<dl>
				    <dt>Friend 1</dt>
				    <dt>Friend 2</dt>
				</dl>
			</div>
        </div>
        <div class="divCommunication">Communication
            <div class="divInviteBoard">INVITES
                <textarea cols="20" readonly="readonly" rows="20"></textarea>
            </div>
            <div class="divMessageBoard">MESSAGES
                <textarea cols="20" readonly="readonly" rows="20"></textarea>
            </div>
            <div class="divPlayerMessage">PLAYER MESSAGES
                <textarea cols="20" rows="20"></textarea>
                <input type="button" value="Send To" />
                <select>
                    <option>Nuno</option>
                    <option>Ricardo</option>
                    <option>Paulo</option>
                </select>                
                <input type="button" value="Send To All" />
            </div>
        </div>
        <div class="divOnLists">Online Board
            <div class="divPlayersOnList">PLAYERS ONLINE
                <dl>
				    <dt>Player 1</dt>
				    <dt>Player 2</dt>
				</dl>
            </div>           
            <div class="divGameOnList">GAMES ONLINE
                <dl>
				    <dt>Game 1</dt>
				    <dt>Game 2</dt>
				</dl>
            </div>
        </div>        
    </div>
</body>
</html>
