<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Lobby_CSS_Tester</title>
	<script type="text/javascript" src="source/LobbyMVC.js"></script>
	<script type="text/javascript" src="source/jquery-1.3.2.js"></script>

	<link href="Source/Lobby.css" type="text/css" rel="Stylesheet" />
</head>

<body onload="Lobby.init();">
    <div class="divBackGround">
        <div class="divTabList">
            <div class="divTab"></div>
            <div class="divTab"></div>
            <div class="divTab"></div>
            <div class="divTab"></div>
        </div>
        <div class="divPlayerInfo">
            <div class="divPhoto"></div>
            <div class="divPlayerName"></div>
            <div class="divPlayerOptions"></div>
			<div class="divPlayerFriendsList"></div>
        </div>
        <div class="divCommunication">
            <div class="divInviteBoard"></div>
            <div class="divMessageBoard"></div>
            <div class="divPlayerMessage"></div>
        </div>
        <div class="divOnLists">
            <div class="divPlayersOnList"></div>           
            <div class="divGameOnList"></div>
        </div>        
    </div>
</body>
</html>
