<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Lobby_CSS_Tester</title>
    <link href="Lobby.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <div class="divBackGround">
        <div class="divPlayerInfo">
            <div class="divPhoto">Photo</div>
            <div class="divPlayerName">Player 1</div>
            <div class="divPlayerOptions">
            Options
                <input type="button" value="Button1" />
                <input type="button" value="Button2" />
                <input type="button" value="Button3" />
                <input type="button" value="Button4" />
            </div>
			<div class="divPlayerFriendsList">
				<div class="Friend">Friend 1</div>
				<div class="Friend">Friend 2</div>
			</div>
        </div>
        <div class="divMessage">Messages</div>
        <div class="divLists">Lists</div>
    </div>
</body>
</html>
