<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Lobby_CSS_Tester</title>
    <link href="../../Source/Lobby.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <div class="divBackGround">
        <div class="divTabList">
            <div class="divTab">Lobby</div>
            <div class="divTab">divTab 1</div>
            <div class="divTab">divTab 2</div>
            <div class="divTab">divTab 3</div>
        divTabList</div>
        <div class="divPlayerInfo">divPlayerInfo
            <div class="divPhoto">divPhoto</div>
            <div class="divPlayerName">divPlayerName</div>
            <div class="divPlayerOptions">divPlayerOptions
                <input type="button" value="Button1" />
                <input type="button" value="Button2" />
                <input type="button" value="Button3" />
                <input type="button" value="Button4" />
            </div>
			<div class="divPlayerFriendsList">divPlayerFriendsList
				<div class="divFriend">divFriend 1</div>
				<div class="divFriend">divFriend 2</div>
			</div>
        </div>
        <div class="divCommunication">divCommunication
            <div class="divInviteBoard">divInviteBoard</div>
            <div class="divMessageBoard">divMessageBoard</div>
            <div class="divPlayerMessage">divPlayerMessage</div>
        </div>
        <div class="divOnLists">divOnLists
            <div class="divPlayersOnList">divPlayersOnList
                <div class="divPlayerOn">divPlayerOn 1</div>
                <div class="divPlayerOn">divPlayerOn 2</div>
                <div class="divPlayerOn">divPlayerOn 3</div>
                <div class="divPlayerOn">divPlayerOn 4</div>
                <div class="divPlayerOn">divPlayerOn 5</div>
                <div class="divPlayerOn">divPlayerOn 6</div>
            </div>           
            <div class="divGameOnList">divGameOnList
                <div class="divGameOn">divGameOn 1</div>
                <div class="divGameOn">divGameOn 2</div>
                <div class="divGameOn">divGameOn 3</div>
                <div class="divGameOn">divGameOn 4</div>
            </div>
        </div>        
    </div>
</body>
</html>
